* {
    box-sizing: border-box;
}
body {
    background: black;
}
.todo {
    background: white;
    margin: 50px 100px;
}
.fecha {
    float: right;
    color: gray;

}
.primero {
    display: flex;
    height: 100px;
    justify-content: center;
}

.segundo {
    display: flex;
    flex-direction: column;
    background: rgb(208, 206, 206);
    height: 2700px;
    justify-content: center;
}
.foto-1 {
    background: white;
    width: 600px;
    height: 600px;
    margin: 25px auto;
    
}
.foto-2 {
    background: white;
    width: 600px;
    height: 600px;
    margin: 25px auto;
}    
.foto-3 {
    background: white;
    width: 600px;
    height: 600px;
    margin: 25px auto;
}    
.foto-4 {
    background: white;
    width: 600px;
    height: 600px;
    margin: 25px auto;
}
p ,
h1 {
    padding: 10px;
}